.Card{
    height: 100%;
    width: 100%;
}

.CardIcon{
    background-color: #f4fcf6;
    color: #022d8a;
    vertical-align: middle;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.Card:hover{
    background-color: #f4fcf6;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.075);
}
.Card:hover .CardIcon{
    background-color: white;
}